<app-header></app-header>
<app-side-bar></app-side-bar>

<div class="content">
  <h3>MANAGE NEWS</h3>
    <div class="btn btn-success col-md-3" [routerLink]="['/admin/new-add']">Add New</div>
      <table class="table table-bordered">
        <tr>
          <th>STT</th>
          <th>Title</th>
          <th>Image</th>
          <th>Content</th>
        </tr>
        <tr *ngFor="let tin of tins | slice: (page-1) * pageSize : (page-1) * pageSize + pageSize, let i = index">
          <th style="width:1px">{{i + 1}}</th>
          <td style="width:150px">
            {{tin.title}}
            <div class="action">
              <a [routerLink]="['/admin/new','edit', tin.id]"><i class="fas fa-edit"></i></a>&nbsp;
              <a style="cursor:pointer" (click)="removeNew(tin.id)"><i class="fas fa-trash"></i></a>
            </div>
          </td>
          <td style="width:80px"><img width="70" src="{{tin.image}}" alt=""></td>
          <td style="width:80px">{{tin.content}}</td>

        </tr>
      </table>
      <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="tins.length"></ngb-pagination>
</div>

<app-footer-be></app-footer-be>
